<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Sort</title>
	<link rel="stylesheet" type="text/css"
		  href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/addPart">Add...</a></li>
				<li><a href="/search">Search...</a></li>
				<li class="active"><a href="/sort">Sort...</a></li>
			</ul>
		</div>
	</div>
</nav>
<td><a class="navbar-brand" th:href="@{'/sort?param=all'}" style="font-size:16px">All       </a></td>
<td><a class="navbar-brand" th:href="@{'/sort?param=necessary'}" style="font-size:16px">Necessary       </a></td>
<td><a class="navbar-brand" th:href="@{'/sort?param=optional'}" style="font-size:16px">Optional       </a></td>

<div class="container">
	<h2 th:utext="${sortParam}">..!..</h2>
	<table border="1">
		<tr>
			<th>Partname</th>
			<th>Necessary</th>
			<th>Quantity</th>
		</tr>
		<tr th:each ="part : ${partsList}">
			<td th:utext="${part.partname}">...</td>
			<td th:utext="${part.getTextFromNecessary()}">...</td>
			<td th:utext="${part.quantity}">...</td>
		</tr>
	</table>
	<br/><br/>
</div>
<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>